@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Rammetto+One&display=swap");

/* Fonts, text styles, */

/*
Logo font:
font-family: 'Rammetto One', cursive;
*/

/* Generic text */
p {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
}

/*
Search Bar
*/
#searchButton {
  width: 20%;
  padding: 10px;
  background: transparent;
  color: white;
  font-size: 100%;
  border: 7px solid white;
  border-radius: 5px;
  cursor: pointer;
  transform: translate(0%, 30%);
}

#searchButtonHome {
  width: 20%;
  padding: 10px;
  background: transparent;
  color: white;
  font-size: 100%;
  border: 7px solid #fcaf58;
  background-color: #fcaf58;
  border-radius: 5px;
  cursor: pointer;
  transform: translate(0%, 30%);
}

#searchBar {
  border: 1px grey;
  border-radius: 5px;
  height: 2rem;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  font-size: 100%;
}

#searchBarHome {
  border: 0.2rem solid rgb(45 58 85);
  border-radius: 5px;
  height: 3rem;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  font-size: 100%;
}

.searchBarLandingPage {
  /* margin-left: 60px;
    display:inline-flex;
    width: 100%;
    text-align: center;
    align-items: center; */

  /* padding: 20px;
    display:inline;
    text-align: center;
    font-family: 'Open Sans', sans-serif; */

  position: relative;
  text-align: center;
  font-family: "Bold Open Sans", sans-serif;
  font-weight: bold;
}

.recipeCard > img {
  width: 200px;
  height: 200px;
}

div.searchBarLandingPage > img {
  width: 100%;
  height: 100%;
}

.searchBarHomePage {
  padding-top: 20%;
  position: relative;
  text-align: center;
  font-family: "Bold Open Sans", sans-serif;
  font-weight: bold;
}

.searchItems {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  width: 50%;
}

/* .searchIcon {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 14px;
} */

/*
Tags
 */
ul.tagsList {
  font-family: "Open Sans", sans-serif;
  list-style-type: none;

  /* white-space:nowrap; */
  color: white;
  font-weight: bold;
  padding-left: 10px;
  font-size: small;
  overflow: auto;
}

li.individualTag {
  /* border-style:solid; */
  margin: 10px;
  border: 5px solid #fcaf58;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fcaf58;
  display: inline;
}

/* Recipe cards + grids */
.myRecipeCardGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  margin: 20px;
}

.recipeCard {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.recipeCard > p {
  font-family: "Bold Open Sans", sans-serif;
  font-weight: bold;
  color: #4e598c;
  font-size: large;
}

/*
Regular text font:
font-family: 'Open Sans', sans-serif;

Colors:
#4E598C
#FFFFFF
#F9C784
#FCAF58
#FF8C42

border-radius: 25px;
*/
