@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Rammetto+One&display=swap");

/*
Logo font:
font-family: 'Rammetto One', cursive;

Regular text font:
font-family: 'Open Sans', sans-serif;

Colors:
#4E598C
#FFFFFF
#F9C784
#FCAF58
#FF8C42
*/
