.tagsList {
    display: hidden;
}

.hidden {
    display: none;
}

.show {
    display: inline;
}

section:not(section.shown) {
    display: none;
}


/*************************
    Search Tag Stylings
**************************/

#selectTagButton {
    width: 30%;
    height: 2%;
    padding: 2%;
    margin-bottom: 2%;
    background: #fcaf58;
    color: white;
    font-size: 100%;
    border: 2px solid #fcaf58;
    border-radius: 5px;
    cursor: pointer;
}

.tagButton {
    width: 100%;
    padding: 10px;
    background: #fcaf58;
    color: white;
    font-size: 100%;
    border: 7px solid #fcaf58;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.tagButton:hover {
    background: #f9c784;
    border-color: #f9c784;
}

#selectTag {
    display: inline;
}

#tagsList {
    float: top;
    display: block;
    justify-content: center;
    grid-template-columns: repeat(9, minmax(70px, 1fr));
    /* grid-template-columns: 1fr, 1fr, 1fr; */
    margin-left: 10px;
    margin-right: 10px;
    grid-gap: 1rem;
}

#submitButton {
    width: 50%;
    padding: 2%, 4%;
    margin-top: 2%;
    background: #fcaf58;
    color: white;
    font-size: 100%;
    border: 7px solid #fcaf58;
    border-radius: 5px;
    cursor: pointer;
}